<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220313-202436-CodeSystem-eimpf-ergaenzung.html">202203.1</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220313-202436-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220428-095037-CodeSystem-eimpf-ergaenzung.html">202203.5</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220428-095037-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>